<h1>My Library</h1>
<%= link_to 'Add New Book', new_book_path %>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= image_tag book.cover_image.attached? ? url_for(book.cover_image) : 'default_cover.png', size: "50x50" %>
      <%= link_to book.title, book_path(book) %>
    </li>
  <% end %>
</ul>
