<div class="book-list-form">
  <h1>New Book List</h1>
  <%= form_with model: @book_list, local: true do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Book List', class: 'submit-button' %>
    </div>
  <% end %>
</div>